@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Satoshi, sans-serif;
}

/* Hide scrollbar for all browsers */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
}