/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden !important;
}

:root {
  --primary-color: #ff5861;
}

::selection {
  background-color: var(--primary-color);
  color: white;
}
