.heroDivider {
  width: 100%;
  transform: rotate(180deg);
  position: relative;
  top: -1px;
  fill: #061538;
}

.heroDivider svg {
  display: block;
  width: calc(100% + 1.3px);
  height: 153px;
}

.heroDivider .shape-fill {
}
